<div class="card">
  <div class="card-header">
    List of items
  </div>
  <div class="card-body">
    <div class="table-responsive">
      <table class="table">
        <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">Name</th>
          <th scope="col">Description</th>
          <th scope="col" colspan="3">Actions</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let item of listItems; let index">
          <th scope="row">{{item.id}}</th>
          <td>{{item.name}}</td>
          <td>{{item.description}}</td>
          <td>
            <button class="btn btn-sm btn-light" [routerLink]="['/auction/view-auction/',item.id]">View</button>
          </td>
          <td>
            <button class="btn btn-sm btn-warning" [routerLink]="['/auction/update/',item.id]">Edit</button>
          </td>
          <td>
            <button class="btn btn-sm btn-danger" (click)="delete(item.id)">Delete</button>
          </td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
