<section class="filters">
  <!-- Section: Condition -->
  <section class="mb-4">
    <h5 class="font-weight-bold mb-3">Filters</h5>
    <div class="input-group mb-3">
      <input type="text" class="form-control" placeholder="Search by name" >
      <div class="input-group-append">
        <button class="btn btn-outline-secondary btn-sm" type="button">Search</button>
      </div>
    </div>
    <div class="input-group mb-3">
      <input type="text" class="form-control" placeholder="Search by description" >
      <div class="input-group-append">
        <button class="btn btn-outline-secondary btn-sm" type="button">Search</button>
      </div>
    </div>
  </section>
  <!-- Section: Condition -->
  </section>
